<h1>Twitter</h1>
<div id="twitterfeed">
    <?php foreach ($block->tweetObject as $tweet): ?>
        <div class="tweet-container">
            <div class="profile">
                <div class="frame"><img src="<?php echo $tweet->user->profile_image_url;?>"/></div>
            </div>
            <div class="tweet">
                <p><b><?php echo $tweet->user->name ?></b> @<?php echo $tweet->user->screen_name;?></p>
                <p><?php echo $tweet->text;?></p>
                <?php if (isset($tweet->entities->media)):?>
                <img src="<?php echo $tweet->entities->media[0]->media_url;?>"/>
                <?php endif; ?>
            </div>
        </div>
    <?php endforeach; ?>
</div>
