.tweet-container {
    clear: both;
    margin-bottom: 25px;
    height: auto;
    overflow: hidden;
}
.profile, .tweet {
    float: left;
}
.profile .frame {
    border-radius: 50%;
    overflow: hidden;
    height: 48px;
    width: 48px;
}
.tweet {
    padding: 0 0 0 15px;
}
.tweet > img {
    border: 1px solid #aaa;
    border-radius: 6px;
    overflow: hidden;
}
